#Minio configuration
MINIO_ROOT_USER=your_user_here
MINIO_ROOT_PASSWORD=your_password_here

MINIO_ENDPOINT=http://your_ip_here:9000
MINIO_CONSOLE=http://your_ip_here:9001

MINIO_BUCKET=nyc-taxi-lake

# Connection URI for 'minio_conn'
# Replace USER, PASSWORD and IP in the string below
AIRFLOW_CONN_MINIO_CONN='aws://USER:PASSWORD@?endpoint_url=http%3A%2F%2FIP%3A9000'