# MinIO
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
MINIO_BUCKET=data-lake-nyc

# Postgres (Airflow metadata)
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=changeme
POSTGRES_AIRFLOW_DB=airflow

# Postgres (Hive metastore)
POSTGRES_HIVE_USER=hive
POSTGRES_HIVE_PASSWORD=changeme
POSTGRES_HIVE_DB=hive_metastore

# Postgres (Superset metadata)
POSTGRES_SUPERSET_USER=superset
POSTGRES_SUPERSET_PASSWORD=changeme
POSTGRES_SUPERSET_DB=superset

# Superset
SUPERSET_SECRET_KEY=changeme
SUPERSET_ADMIN_PASSWORD=changeme

# Airflow
AIRFLOW_SECRET_KEY=changeme
AIRFLOW_UID=50000
